<% if Like.find_by(user_id: current_user.id, post_id: post.id) %>
  <%= link_to post_like_path(post.id,post), method: :delete, remote: true do %>
    <span class="fa fa-heart like-btn-unlike"></span>
  <% end %>
<% else %> 
  <%= link_to post_likes_path(post), method: :post, remote: true do %>
    <span class="fa fa-heart like-btn"></span>
  <% end %>
<% end %>
<%= post.likes.length %>
