<% provide(:title, "Top") %>

<div class="container">
  <div class="content-many">
    <h1>viewhomeとは、、<h1>
    <p>スマホの中身を共有できるSNSサービス</p>
    <p>オリジナルなホームレイアウトを作ろう</p>
  </div>
  <div class="photo-content">
      <img src="/assets/IMG_7226.PNG">
  </div>
</div>
