<% if logged_in? %>
	<div class="container">
  	<div class="row">
			<h1>投稿一覧</h1>
			<div class="index-btn">
      	<a class="btn btn-lg btn-primary" href="/" role="button">新着順</a>
      	<a class="btn btn-lg btn-default" href="/posts/ranking" role="button">人気順</a>
			</div>
    	<%= render @posts %>
			<div class="col-md-12">
				<div class="paginate">
					<%= will_paginate @posts %>
				</div>
			</div>
		</div>
	</div>
<% else %>
<div class="container">
	<div class="row">
		<div class="main">
    	<div class="main-content">
        <p>画面の中をオシャレに</p>
        <p>レイアウト・おすすめアプリを共有しよう</p>
    </div>
		</div>
	</div>
	</div>
</div>
	<div class="about", id="about">
		<div class="container">
			<div class="col-md-6">
  			<div class="content-many">
    			<h1>viewhomeとは、、<h1>
    			<p>スマホの中身を共有できるSNSサービス</p>
    			<p>オリジナルなホームレイアウトを作ろう</p>
  			</div>
			</div>
			<div class="col-md-3">
  			<div class="photo-content">
      			<img src="/assets/about2.png">
  			</div>
			</div>
			<div class="col-md-3">
				<div class="photo-about">
					<img src="/assets/about5.png">
				</div>
			</div>
		</div>
	</div>

<% end %>