<% if logged_in? %>
	<div class="container">
  	<div class="row">
			<h1>投稿一覧</h1>
			<div class="index-btn">
      	<a class="btn btn-lg btn-primary" href="/" role="button">新着順</a>
      	<a class="btn btn-lg btn-default" href="/posts/ranking" role="button">人気順</a>
			</div>
    	<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="main">
    <div class="main-content">
        <p>画面の中をオシャレに</p>
        <p>レイアウト・おすすめアプリを共有しよう</p>
    </div>
	</div>
<% end %>