<div class="container">
  <div class="row">
    <h1>投稿一覧</h1>

			<div class="index-btn">
      	<a class="btn btn-lg btn-default" href="/" role="button">新着順</a>
      	<a class="btn btn-lg btn-primary" href="/posts/ranking" role="button">人気順</a>
			</div>
    <%=render @posts%>
  </div>
</div>