@import "bootstrap-sprockets";
@import "bootstrap";

h1{
  text-align:center;
  padding-top:70px;
  padding-bottom:20px;
  font-size:50px;
}

.main{
  background-image: image-url('q1.jpg');
  background-size: cover;
  margin:auto;
  height:750px ;

}
.main-content{
  padding-top:300px;
  font-size: 20px;
  opacity:0.7;
}
.navbar{
  opacity:0.9;
}
.photo-content img{
  height: 550px;
  width:auto;
}

.content-many{
  padding-top:40px;
}

.row{
  padding-top:40px;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.alert{
  margin-top:70px;
}



//チェックボックス
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.gravatar-edit{
  padding-top:15px;
}

//ユーザー一覧
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.posts {
  list-style: none;
}

.timeline{
  margin-bottom: 100px;
  height: 650px;
  width:360px;
}

.timeline-layout img{
 margin-left: 30px;
}
.border-layout{
  position: relative;
}
.timeline-like{
  position: absolute;
  top:25px;
  left: 55px;
}
.timeline-icon img{
  position: absolute;
  left: 0px;
}
.timeline-name a{
  position: absolute;
  top:5px;
  width:200px;
  left:55px;
  font-size:13px;
  color:black;
  text-align: left;
  font-family: 'Reimin Light';
}
.timeline-delete a{
  position: absolute;
  top: 24px;
  width: 40px;
  left: 240px;
  color:black;
}
.posts-show{
  padding-top: 50px;
}

.like-btn{
  color:#8899a6;
}
.like-btn-unlike{
  color:#ff2581;
}
.posts-likes{
  text-decoration: none;
  font-size: 30px;
  color: black;
  padding-bottom: 10px;
}