@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 991px){
  .post-layout{
    text-align: center;
  }
}

h1{
  text-align:center;
  padding-top:70px;
  padding-bottom:20px;
  font-size:50px;
  color: black;
}
body * a{
  color:black;
}

.main{
  background-image:image-url('q1.jpg');
  background-size: cover;
  background-position: 50%;
  height:750px ;
  margin: auto;
}
.main-content{
  padding-top:300px;
  font-size: 20px;
  opacity:0.7;
}
.main-logo{
  font-size:20px;
  font-weight: bold;
  padding-top:10px;
  font-family: Courier;
  text-decoration:none;
}

.about{
  background-color: darkgray;
}
.navbar{
  opacity:0.9;
}

.photo-content{
  text-align: -webkit-center;
  img{
    height: 550px;
    width:auto;
    padding-top: 10px;
    padding-left:20px ;
  }
}
.photo-about{
  text-align: -webkit-center;
  padding-bottom: 15px;
  img{
    height: auto;
    width:300px;
    padding-top: 10px;
    padding-left:20px ;
  }
}
.content-many{
  padding-top:40px;
}

.row{
  padding-top:40px;
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.alert{
  margin-top:70px;
}



//チェックボックス
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.gravatar-edit{
  padding-top:15px;
}

//ユーザー一覧
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.posts {
  list-style: none;
  ol{
    margin-bottom: 240px !important;
  }
}

.timeline{
  text-align: center;
}


.timeline-layout{
  text-align: center;
  position: relative;
}

.border-img img{
  border: 1px solid  $gray-light;
}
.timeline-like{
  position: absolute;
  top:25px;
  left: 55px;
}
.timeline-icon img{
  position: absolute;
  left: 0px;
}
.timeline-name a{
  position: absolute;
  top:3px;
  width:200px;
  left:55px;
  font-size:20px;
  color:black;
  text-align: left;
  font-family: 'Reimin Light';
}
.timeline-delete a{
  position: absolute;
  top: 4px;
  width: 40px;
  left: 245px;
  color:black;
}
.timeline-edit a{
  color: black;
}

.border-layout{
  border: 1px solid  $gray-light;
  margin: 0 39px;
  height: 54px;
  background-color: ghostwhite;
}
.paginate{
  text-align: center;
}
.posts-show{
  padding-top: 50px;
}
.post-layout{
  text-align: -webkit-center;
}
.like-btn{
  color:#8899a6;
}
.like-btn-unlike{
  color:#ff2581;
}
.posts-likes{
  text-decoration: none;
  font-size: 30px;
  color: black;
  padding-bottom: 10px;
}

.show-follow-name{
  text-align: center;
}

.show-follow-icon{
  text-align: center;
  padding-top: 50px;
}
.show-name{
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
}
.show-content{
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
}
.post-layout img{
  border: 1px solid  $gray-light;
}
.show-layout{
  text-align: center;
}
.show-user-name a{
  color: black;
}
.user-show-menu{
  text-align: center;
}

.comment-delete{
  text-align: right;
}
.comment-text{
  width: 300px;
}

.index-btn{
  padding-bottom: 30px;
  text-align: center;
}
.comment_list{
  overflow: auto;
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
}
.icon img{
  border: 1px solid  $gray-light; 
}
